* {
  padding: 0;
  margin: 0;
}
.header-logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  transform: scale(4);
  margin-left: 100px;
  margin-top: 40px;
  margin-bottom: 20px;
  width: 100px;
}
.container {
  background-image: url(../images/image.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
  margin-left: auto;
  margin-right: auto;
}
.title {
  text-align: center;
  text-transform: lowercase;
  color: white;
  margin-bottom: 20px;
  font-size: 40px;
}
.title::first-letter {
  text-transform: uppercase;
}
.subtitle {
  color: white;
  font-size: 20px;
  text-align: center;
  width: 300px;
}
.text {
  width: 250px;
  height: 30px;
  padding: 10px;
  font-size: 16px;
  border: none;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.32);
}

.button {
  width: 100px;
  height: 50px;
  background-color: red;
  border: none;
  color: white;
  font-size: 18px;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.32);
}
.button:hover {
  color: black;
  border: black solid 2px;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.copy {
  margin-left: 25px;
  color: red;
}
.footer-logo {
  width: 100px;
}
.js-card {
  margin-bottom: 20px;
  width: 210px;
  border-radius: 10px;
  margin: 15px;
  list-style-type: none;
}
.favorite {
  border: solid 5px red;
  border-radius: 10px;
  width: 210px;
  color: red;
  list-style-type: none;
}
.buttonX {
  width: 20px;
  height: 20px;
  border-radius: 30px;
  border: none;
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translate(50%, 120%);
}
.buttonX:hover {
  background-color: red;
  color: black;
}
.nameShow {
  text-align: center;
  color: white;
}
.list {
  list-style-type: none;
  /* display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center; */
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-row: 1fr 1fr 1fr;
  border-left: red solid 5px;
}
.containerShows {
  margin-top: 10px;
  /* background-color: lightgray; */
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}

.section1 {
  width: 80%;
  margin-top: 30px;
}

.titleFav {
  margin: 20px;
  color: white;
}
.js-listFav {
  padding: 10px;
  margin: 20px;
}
.reset {
  width: 100px;
  margin-left: 20px;
  background-color: red;
  color: white;
  border: none;
  border-radius: 20px;
  padding: 10px;
}
.reset:hover {
  background-color: black;
  color: red;
  border: red solid 2px;
}
@media all and (min-width: 768px) {
  .title {
    font-size: 90px;
  }
  .subtitle {
    font-size: 35px;
    text-align: center;
    width: 600px;
  }
  .text {
    width: 400px;
  }
  .button {
    width: 200px;
  }
}
@media all and (min-width: 1200px) {
  .title {
    font-size: 100px;
  }
  .subtitle {
    font-size: 40px;
    text-align: center;
    width: 600px;
  }
  .text {
    width: 400px;
  }
  .button {
    width: 200px;
  }
  /* .containerShows {
    display: flex;
    flex-direction: column;
  } */
}
